<!-- Navigation Bar -->
<div id="nav" class="rabbit-index-nav-wrapper" th:fragment="nav">
    <div class="rabbit-index-nav-left">
        <!-- website's name-->
        <a href="/"><div class="rabbit-index-name">Rabbit</div></a>
        <!-- website's title-->
        <a th:href="@{/user/login}"><div class="rabbit-index-title">[[${active=='/user/login'?'Reading':'Login'}]]</div></a>
    </div>
</div>
<!-- footer Bar-->
<div class="rabbit-footer-wrapper" th:fragment="footer">
    <div class="rabbit-footer-content">
        <p>QUST - yangxingguo - Rabbit</p>
    </div>
</div>